.tela-principal {
    width: 80%;
    margin: 20px;
    font-family: "Mina";
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
}

.box-infos {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.boas-vindas {
    display: flex;
}

@media screen and (max-width: 980px){
    .tela-principal {
        width: 100%;
    }
}



