.tela-principal {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: "Mina";
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
    position: relative;
}

@media screen and (max-width: 980px){
    .tela-principal {
        width: 100%;
        height: calc(100vh - 120px);
    }
}


