.classPilotos {
    background: linear-gradient(rgb(202, 202, 202),rgb(228, 225, 225));
    padding: 20px;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.classPilotos p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    
}

.classPilotos ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.escolhasUser {
    background-color: #ffffff;
    padding: 10px; 
    margin: 20px auto; 
    text-align: start; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    font-family: 'mina';
    
}

.escolhasUser ul {
    list-style-type: none; 
    padding: 0; 
    
}

.escolhasUser li {
    margin: 10px 0; 
    font-size: 14px;
    color: #333;
}

.escolhasUser p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.piloto-item li{
    font-size: 12px;
}

.piloto-item {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-family: 'mina';
    justify-content: space-between;
    font-size: 14px;
}

.dados{
    display: flex;
    align-items: center;
    gap: 10px;
}

.piloto-item i {
    margin-left: 5px;
    color: #f1c40f; 
}

.bateria {
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 120px;
    height: 10px;
    justify-content: end;
    position: relative;
    overflow: hidden;
    
}

.bateria-nivel {
    height: 10px;
    background: linear-gradient(to right,red, rgb(0, 150, 0));        
    background-size: auto;
    transition: width 0.1s ease;
}

.piloto-item:hover {
    background-color: #f0f0f0;
}

.classPilotos h2 {
    font-size: 24px;
    color: #104d75;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'michroma';
}

.piloto-item div {
    font-size: 16px;
    font-weight: normal;
}

.pontuacaoEquipe, .pontuacaoMotor {
    font-size: 18px;
    color: #2980b9;
}
.listaClassificacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px;
}

.listaClassificacao ul {
    flex: 1 1 48%;
    list-style-type: none;
    padding: 0;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.listaClass {
    margin-top: 20px; 
}

.listaClass ul {
    margin-top: 15px;
}

.listaClass ul:last-child {
    margin-bottom: 0; 
}


@media (max-width: 868px) {
    .listaClassificacao {
        flex-direction: column;
        min-width: 0;
        
    }

    .listaEquipes{
        max-width: 100vw;
    }

    .listaClassificacao ul {
        flex: 1 1 100%;
    }
}

@media (max-width: 560px) {
    .bateria, .piloto-item i{
        display: none;
    }

}