.Escalados{
    background: linear-gradient(rgb(202, 202, 202),rgb(228, 225, 225));
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Escalados h3{
    text-align: center;
    color: #062135;
}

.plts, .chfs, .eqp, .mtor {
    width: 48%;
    margin-bottom: 20px;
}

.persona, .personaEquipe{
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid black 2px;
    margin: 10px;
    min-height: 100px;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 0 8px black;
}

.persona, .personaEquipe h5{
    font-size: 24px;
}

.persona img{
    width: 120px;
    height: 100px;
    padding: 0px 10px;
    max-height: 95px;
}

.personaEquipe img{
    width: 210px;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .plts, .chfs, .eqp, .mtor {
        width: 100%;
    }
}