.lista-opcoes {
    position: fixed;
    top: 55%;
    right: 40%;
    transform: translate(50%, -50%);
    width: 60vw; 
    max-height: 60%;
    background-color: #f5f5f5; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px 200px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
}

.lista-opcoes .topo-opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'michroma';
    padding: 10px;
}

.lista-opcoes .topo-opcoes button {
    border: none;
}

.lista-opcoes img {
    width: 100px; 
    height: 100px; 
}

.tela-principal::after{
    background-color: rgba(0, 0, 0, 0.5);
}

.lista-opcoes p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.creditos{
    width: 100%; 
    display: flex;
    justify-content: flex-end!important;
    margin-right: 10px; 
}



.bi-x{
    color: #0E29B4;
    border: none;
    font-size: 40px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.lista-opcoes .opcoes::-webkit-scrollbar {
    width: 8px;
}

.lista-opcoes .opcoes::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #0E29B4;
}

.lista-opcoes::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

@media (max-width: 978px) {
    .lista-opcoes { 
        width: 80%; 
        max-height: 70%;
        right: 50%;
    }

    .lista-opcoes img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 620px) {
    .topo-opcoes h2 {
        font-size: 20px;
    }
}

/* Estilos para dispositivos pequenos (mobile) */
@media (max-width: 480px) {
    .lista-opcoes {
        max-height: 80%;
    }

    .lista-opcoes img {
        width: 60px;
        height: 60px;
    }

    .bi-x {
        font-size: 30px;
    }
}
