.tela_ranking {
    padding: 30px 40px 40px 40px;
}

.borda {
    border-radius: 15px; /* Arredonda todos os cantos */
    background-color: #F0F0F0;
    box-shadow: inset 0px 2px 6px 0px #7e7e7e;
    width: 100%;
}

.sombra {
    box-shadow: inset 0px 2px 6px 0px #7e7e7e;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 3px solid #7e7e7e;
    padding: 10px;
    text-align: center; /* Alinhamento horizontal */
    vertical-align: middle; /* Alinhamento vertical */
}

/* Arredondando apenas os cantos da tabela */
table {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden; /* Para garantir que o arredondamento seja visível */
}

table th:first-child {
    border-top-left-radius: 1px;
}

table th:last-child {
    border-top-right-radius: 15px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.rank {
    display: flex;
    justify-content: center;
    padding: 10px;
}
