.card-opcao {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 10px 20px 0 20px; 
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    width: 100%; 
    cursor: pointer;
    transition: all 0.5s ease;
}

.card-opcao img {
    width: auto;
    height: 80px; 
}

.card-opcao:hover{
    background-color: rgba(0, 102, 255, 0.507);
}

@media (max-width: 620px) {
    .card-opcao p, .card-opcao h2 {
        font-size: 14px;
    }
}

