.nav-button {
  padding: 5px 20px; 
  background-color: #0E29B4; 
  color: white; 
  border: none; 
  border-radius: 7px; 
  cursor: pointer; 
  transition: all 0.3s; 
  display: block;
  margin-bottom: 6px;
  width: 100%;
  font-family: "Mina";
  font-size: 16px;
  position: relative; /* Necessário para z-index */
}

.nav-buttons {
  width: 95%;
}

.nav-button:hover {
  background-color: #46DEFF; 
  color: black;
}

.nav-button:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.733);
}

.link-button:first-child .nav-button{
  background-color: #ebc417;
  
}

@keyframes backgroundChange {
  0% {
    background-color: #ebc417; /* Cor original */
    opacity: 0.3;
  }
  50%{
    opacity: 0.6;
    
  }
  100% {
    
    opacity: 1;
  }
}

.link-button:first-child:hover .nav-button{
  background-image: url(../../images/gold.gif); /* Nova imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem */
  color: white;
  animation: backgroundChange 0.3s forwards; /* Executa a animação ao passar o mouse */
}